
body {
    background: url("../images/cork-wallet.png");
    
}

.navbar-brand {
    background: #4aaaa5;
    padding: 18px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
    
}

.navbar {
    border-bottom: 2px solid #cccccc;
    
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.mycontainer {
    background: #ffffff;
    margin-top: 120px;
    margin-bottom: 120px;
    border-color: #dddddd;
    padding: 35px;
    color: #777777
    
}

p {
    color: #777777;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

.myimage {
    margin-right: 20px;
}

.custtitle {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 30px;
    position: relative;
    top: 20px
}

.card {
    margin-right: 20px;
    margin-top: 20px;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}

.custbutton {
    background-color: #4aaaa5;
    border-radius: 0px;
    width: 100px;
}

.custfooter {
    color:#ffffff;
    height: 50px;
    
}

.site-footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
            
}